:root {
	--container-width: 688px;
	--container-padding: 24px;

	--font-family: Inter, sans-serif;
	--font-links: Mulish, sans-serif;

	--page-bg: #FFFFFF;

	--text-primary-color: #252323;
	--text-secondary-color: #4b4b4b;
	--divider-color: #d8d8d8;
	--bg-color: #eef0f2;
	--cta-color: #36f;
	--cta-hover-color: #2b57d9;
	--accent-color: #f8d57e;


	// --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}